/* colors */
:root {
  /* From: https://www.canva.com/p/templates/EAFKyRBePCI-black-and-blue-modern-company-profile-presentation/ */
  --background: #040307;
  --primary: #0f48a8;
  --secondary: #5472fd;

  /* Not from the site, added it myself */
  --text: #ffffff;
  --tertiary: #ffa500;
}

/* General Styling */
body {
  font-family: "Roboto Mono", monospace;
  font-size: 1.2em;
  background: var(--background);
  color: var(--text);
}

h1 {
  text-align: center;
  background-color: var(--secondary);
  color: var(--text);
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.5%;
}

h2 {
  background-color: var(--secondary);
  color: var(--text);
  font-size: 1.5rem;
  padding: 2%;
}

.my-container {
  padding: 2%;
  background-color: var(--primary);
}

figcaption {
  font-style: italic;
}

/* Grid Styling */
.grid-container {
  display: grid;
  gap: 10px;
  margin: 0% 5%;
}

/* About Styling */

.headshot {
  display: block;
  border-radius: 50%;
  margin: 0 auto;
}

.item1-a {
  grid-area: picture;
}

.item2-a {
  grid-area: info1;
}

.item3-a {
  grid-area: info2;
}

.item4-a {
  grid-area: info3;
}

.item5-a {
  grid-area: info4;
}

.grid-a {
  grid-template-columns: 1fr;
  grid-template-areas:
    "picture"
    "info1"
    "info2"
    "info3"
    "info4";
}

@media (min-width: 768px) {
  .grid-a {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "picture info1"
      "info2 info2"
      "info3 info3"
      "info4 info4";
  }
}

/* Navbar Styling */
li {
  display: flex;
}

.flex-container {
  display: flex;
  background-color: var(--primary);
  justify-content: center;
}

.flex-item {
  background-color: var(--primary);
  border-style: solid;
  border-color: var(--primary);
  text-align: left;
  padding: 20px;
  text-decoration: none;
  color: var(--text);
}

.flex-item:hover {
  background-color: var(--secondary);
  border-color: var(--secondary);
  color: var(--text);
}

.flex-item:active {
  background-color: var(--tertiary);
  border-color: var(--tertiary);
  color: var(--text);
}

.flex-item:focus {
  border-color: var(--tertiary);
  color: var(--text);
}

/* Contact Styling */
.form-container {
  width: 400px;
  margin: 1rem auto;
  padding: 2%;
  background-color: var(--primary);
}

/* Previous Work Styling */
.item1-p-w {
  grid-area: skills;
}

.item2-p-w {
  grid-area: education;
}

.item3-p-w {
  grid-area: work;
}

.item4-p-w {
  grid-area: tech;
}

.grid-p-w {
  grid-template-columns: 1fr;
  grid-template-areas:
    "skills"
    "education"
    "work"
    "tech";
}

@media (min-width: 414px) {
  .grid-p-w {
    grid-template-columns: 1fr;
    grid-template-areas:
      "skills"
      "education"
      "work"
      "tech";
  }
}

@media (min-width: 768px) {
  .grid-p-w {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "skills education"
      "work education"
      "tech education";
  }
}

@media (min-width: 1024px) {
  .grid-p-w {
    grid-template-columns: 5fr 3fr;
    grid-template-areas:
      "skills education"
      "work education"
      "tech education";
  }
}

/* Projects Styling */
.link-p {
  color: var(--text);
}

.link-p:hover {
  color: var(--tertiary);
}

.item1-p {
  grid-area: AI;
}

.item2-p {
  grid-area: CAP;
}

.grid-p {
  grid-template-columns: 1fr;
  grid-template-areas:
    "AI"
    "CAP";
}

@media (min-width: 414px) {
  .grid-p {
    grid-template-columns: 1fr;
    grid-template-areas:
      "AI"
      "CAP";
  }
}

@media (min-width: 768px) {
  .grid-p {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "AI CAP";
  }
}
